<== include-for articleSummary.html 3 ==>
<section>
  <header>
    <h3><== content articletitle ==></h3>
  </header>
  <img height="100px" width="100px" alt="" src=""/>
  <p>hogehogehogehoge</p>
  <footer>
    <time><== content aritcletime ==></time>
  </footer>
</section>


<section>
  <header>
    <h3>article title</h3>
  </header>
  <img height="100px" width="100px" alt="" src=""/>
  <p>hogehogehogehoge</p>
  <footer>
    <time></time>
  </footer>
</section>

<section>
  <header>
    <h3>article title</h3>
  </header>
  <img height="100px" width="100px" alt="" src=""/>
  <p>hogehogehogehoge</p>
  <footer>
    <time></time>
  </footer>
</section>

