<!doctype html>
<html>
  <head>
    <!-- 美乳 -->
    <!-- 
	 "美乳(Binyu)" is Amazing word for character codes probrem in Japan.
	 "美乳"'s character code in EUC-JP(populer character code in JP) is 0xC8FE 0xC6FD.
	 Shift-JIS(populer character code too) don't have code that the second byte is FE/FD.
	 So browser can determined character code easily.

	 This system tested by UTF-8(Wordwide Character code) but added for availability.
	 When you come to Japan, say Binyu after you greeting, and you will break through the language barrier!
      -->
    <meta charset="UTF-8"/>
    <title><== content pagetitle ==></title>
    <style type="text/css">
      <!--
      body {
	  width: 1000px;
	  margin: 0 auto;
	  font-family: sans-serif;
      }
      header {
	  border-bottom: 20%;
      }
      main {
	  width: 90%;
	  margin: 0 auto;
	  font-family: serif;
      }
      footer {
	  background-color: gray;
      }
      h1,h2,h3 {
	  font-family: sans-serif;
      }
      section {
	  border: 2px solid gray;
      }
      #table-of-contents {
	  width: 80%;
	  margin: 0 auto;
      }
      
      -->
    </style>
  </head>
  <body>
    <header>
      <== include title.html ==>
    </header>
    <main>
      <== router ==>
    </main>
    <footer>
      This blog is licensed under CC0/Beerware.
    </footer>
  </body>
</html>
