<!doctype html>
<html lang="en">
  <head>
    <!-- 美乳 -->
    <!-- 
	 "美乳(Binyu)" is Amazing word for character codes probrem in Japan.
	 "美乳"'s character code in EUC-JP(populer character code in JP) is 0xC8FE 0xC6FD.
	 Shift-JIS(populer character code too) don't have code that the second byte is FE/FD.
	 So browser can determined character code easily.

	 This system tested by UTF-8(Wordwide Character code) but added for availability.
      -->
    <meta charset="UTF-8"/>
    <title><== content pagetitle ==></title>
  </head>
  <body>
    <header>
      <== include title.html ==>
    </header>
    <main>
      <== router ==>
    </main>
  </body>
</html>
